#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

* {
  user-select: none;
}

.cardContainer {
  width: 90vw;
  max-width: 400px; /* Increased width */
  height: 600px; /* Increased height */
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: #fff;
  width: 100%; /* Adjusted width */
  max-width: 400px; /* Adjusted max-width */
  height: 500px; /* Increased height */
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.card h3 {
  color: #000000;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #f04bae;
  cursor: pointer;
  font-size: 24px; /* Adjusted font size for icons */
}

.infoText {
  color: #000; /* Changed text color to black for better readability */
  margin-top: 10px;
}
