.cta-list {
  display: grid;
  gap: 40px;
}

.cta-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
  padding: 50px 20px;
}

.cta-card .card-subtitle {
  font-size: var(--fs-5);
  margin-bottom: 15px;
}

.cta-card .card-title {
  color: inherit;
  line-height: 1.3;
  margin-bottom: 20px;
}

.cta-card {
  text-align: left;
}

.cta-card .card-title {
  max-width: 14ch;
}

.cta-card .btn-link {
  margin-inline: 0;
}

.cta-list {
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.cta-card {
  padding-inline: 50px;
}

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) {
  border-color: transparent;
}

.tagline {
  text-align: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.tagline-text {
  font-size: 50px; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 1000;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: -10px;
}

.tagline-text2 {
  font-size: 20px; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.product-featured {
  text-align: center; /* Center align the content inside */
}

.title {
  margin-bottom: 20px; /* Add some space below the title for better aesthetics */
  margin-top: 20px;
  font-size: 30px;
}
